header {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    gap: 16px;
  }

  .headerRight {
    display: flex;

    ul {
      display: flex;
      gap: 32px;
      list-style-type: none;

      .cart {
        cursor: pointer;
      }

      .favoriteLink {
        text-decoration: none;
        color: #000000;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}