* {
  font-family: Inter, system-ui;
}

.wrapper {
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 60px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  background: #E7F6FF;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  margin-bottom: 30px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
}

h3 {
  margin: 0;
}







