* {
  font-family: Inter, system-ui;
}

.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  background: #E7F6FF;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  margin-bottom: 30px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
}

h3 {
  margin: 0;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 60px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.content {

}

.contentTop {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    width: 250px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    padding: 0 15px;
  }

  input {
    padding: 13px;
    border: none;

  }

  input::placeholder {
    color: #C4C4C4;
    font-size: 14px;
  }
}

.sneakers {
  display: flex;
  column-gap: 50px;
  row-gap: 40px;
  flex-wrap: wrap;
}






