body {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;

  background: #E7F6FF;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 60px;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

header {
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;;
}

h1 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

img {
  margin-right: 10px;
}

.headerLeft {
  display: flex;
  gap: 16px;
}

.headerRight {
  display: flex;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

li {
  display: flex;
}

.sneakers {
  display: flex;
  column-gap: 50px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.card {
  max-width: 150px;
  padding: 20px 40px;
  border-radius: 40px;
  border: 1px solid #F3F3F3;
  background: #FFF;

  img {
    max-width: 133px;
    margin-bottom: 14px;
  }

  p {
    max-width: 150px;
    color: #000;
    font-size: 14px;
    margin-bottom: 14px;
  }

  div {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  span {
    color: #BDBDBD;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }

  b {
    color: #000;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    display: inline-block;
    height: 32px;
    img {
      margin: 0;
    }
  }

  button:hover {
    opacity: 0.8;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}